/*Navigation*/

#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
/*Home section*/
#home{
    padding: 100px 90px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/*Services section*/
#services{
    flex-direction: column;
}

#services .box img{
    height: 108px;
}
#clients{
    flex-wrap: wrap;

}
#clients img{
    
    
    height: 58px;
    width: 58px;
}

.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}
/*Client section*/


/*Contact Us section*/

/*Footer*/